<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="#">TugasKelompok</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item" *ngIf="isLoggedIn && (role == 'Admin' || role == 'Staff')">
          <a class="nav-link" href="/barang/index">Barang</a>
        </li>
        <li class="nav-item" *ngIf="isLoggedIn && (role == 'Admin' || role == 'Staff')">
          <a class="nav-link" href="/user/index">User</a>
        </li>
        <li class="nav-item" *ngIf="isLoggedIn && role != 'Admin'">
          <a class="nav-link" href="/pembelian/index">Pembelian</a>
        </li>
      </ul>
      <span class="navbar-text" *ngIf="isLoggedIn; else login">
        <a class="nav-link" href="#" (click)="logout()">Logout</a>
      </span>
      <ng-template #login>
        <span class="navbar-text">
          <a class="nav-link" href="/login">Login</a>
        </span>
      </ng-template>
    </div>
  </div>
</nav>
<div class="container mt-3">
  <main>
    <router-outlet></router-outlet>
  </main>
</div>